@model List<Employee>
<a class="btn btn-primary" asp-controller="Employee" asp-action="New">Add new Employess</a>
<br/>
<br/>

<a class="btn btn-secondary" asp-controller="DeletedRecord" asp-action="Index">Recover Employess</a>


    @if(TempData["sucess"]!=null){
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" >X</button>
         @TempData["sucess"] 
        </div>
    }
    @if(TempData["Erro"]!=null){
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
    @TempData["Erro"]

</div>
 }
<h2 class="text-center" >All Employees</h2>

@if(Model.Count == 0){
    <p>No employee(s) found!</p>
}else{
    <table  class="display" style="width:100%" id="Table-Employee">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Actions</th>
                <th>Delete</th>
                <th></th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.FirstName</td>
                    <td>@e.LastName</td>
                    <td>@e.Age years</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger">Delete</a>
                    </td>
                    <td ><a class="btn btn-secondary" asp-action="Details" asp-route-id="@e.Id">Details</a></td>
                    <td ><a class="btn btn-secondary" asp-action="Update" asp-route-id="@e.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}